<app-barra-navegacion></app-barra-navegacion>
<br>
<div class="container col-sm-10">
  <div class="row">
    <div class="col-sm-4" *ngFor="let asignacion of asignacionService.asignacionesFull">
    <div class="card">
      <div class="card-header">
        Unidad {{asignacion.id_Unidad}}
      </div>
      <div class="card-body">
        <h5 class="card-title">{{asignacion.Nombre_Unidad}}</h5>
        <p class="card-text">{{asignacion.Des_Unidad}}</p>
        <a href="../../../assets/PDF/{{asignacion.id_Unidad}}.pdf" target="_blank" class="btn btn-primary">Descargar PDF</a>&nbsp;&nbsp;&nbsp;
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalTest">
            Test
          </button>
      </div>
    </div>
    <br>
  </div>
  </div>
</div>
  
  <!-- Modal -->
  <div class="modal fade" id="modalTest" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Test Unidad ?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerra</button>
          <button type="button" class="btn btn-primary">Enviar</button>
        </div>
      </div>
    </div>
  </div>