<app-barra-navegacion></app-barra-navegacion>
<br>
<div class="row">
  <div class="col-sm-2"></div>
  <div class="card col-sm-4">
    <div class="card-header">
      Unidad 01
    </div>
    <div class="card-body">
      <h5 class="card-title">Nombre unidad</h5>
      <p class="card-text">Descripcion de la unidad.</p>
      <a href="#" class="btn btn-primary">Descargar PDF</a>&nbsp;&nbsp;&nbsp;
      <a href="#" class="btn btn-primary">Test</a>
    </div>
  </div>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <div class="card col-sm-4">
    <div class="card-header">
      Featured
    </div>
    <div class="card-body">
      <h5 class="card-title">Special title treatment</h5>
      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
</div>

<br><br>

<div class="row">
  <div class="col-sm-2"></div>
  <div class="card col-sm-4">
    <div class="card-header">
      Featured
    </div>
    <div class="card-body">
      <h5 class="card-title">Special title treatment</h5>
      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <div class="card col-sm-4">
    <div class="card-header">
      Featured
    </div>
    <div class="card-body">
      <h5 class="card-title">Special title treatment</h5>
      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
</div>