<app-barra-navegacion></app-barra-navegacion>
<br>
<div class="container col-sm-8">
  <div class="row">
    <div class="col-sm-12" *ngFor="let usuario of usuarioService.usuarios">
      <ng-container *ngIf="usuario.id_Rol == 2">
        <div class="card border-primary">
          <div class="card-header text-white bg-primary">
            {{usuario.Nombre_Usuario}} {{usuario.Apellido_Usuario}}
          </div>

          <ng-container
            *ngFor="let asignacion of obtenerAsignacionesXUsuario(usuario.id_Usuario)">
            <div class="card-body bg-light">
              <h5 class="card-title">{{asignacion.Nombre_Unidad}}</h5>
              <p class="card-text">{{asignacion.Des_Unidad}}.</p>
              <div class="progress">
                  <div class="progress-bar progress-bar-striped bg-info" role="progressbar" [ngStyle]="{'width.%': asignacion.Porcentaje_Avance}" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">{{asignacion.Porcentaje_Avance}} %</div>
              </div>
            </div>
          </ng-container>
          <div *ngIf="!obtenerAsignacionesXUsuario(usuario.id_Usuario) || obtenerAsignacionesXUsuario(usuario.id_Usuario).length <= 0">
              <p class="card-text"> El usuario no ha realizado el exámen de inicio, por ende no tiene unidades asignadas.</p>
          </div>
        </div>
      </ng-container>
      <br>
    </div>
  </div>
</div>