<app-barra-navegacion></app-barra-navegacion>
<br>
<div class="row">
  <div class="col-sm-2">
  </div>
  <div class="col-sm-8">
    <h3 class="text-center">Formulario de registro</h3>
    <br>
    <form #formRegistro="ngForm" (ngSubmit)="registro(formRegistro)">
      <div class="row">
        <div class="col">
          <label for="exampleInputName">Nombre</label>
          <input type="text" class="form-control is-valid" id="nombre" name="Nombre_Usuario"
            [(ngModel)]="usuarioService.usuario.Nombre_Usuario" placeholder="Ingresa Nombre" required>
          <p></p>
          <label for="exampleInputLastName">Apellido</label>
          <input type="text" class="form-control is-valid" id="apellido" name="Apellido_Usuario"
            [(ngModel)]="usuarioService.usuario.Apellido_Usuario" placeholder="Ingresa Apellido" required>
          <p></p>
          <label for="exampleInputLastName">Número Cedula</label>
          <input type="number" class="form-control is-valid" id="cedula" name="Cedula_Usuario"
            [(ngModel)]="usuarioService.usuario.Cedula_Usuario" placeholder="Ingresa Cedula" required>
          <p></p>
          <label for="exampleInputUsuario">Usuario</label>
          <input type="text" class="form-control is-valid" id="usuario" name="Usuario_Usuario"
            [(ngModel)]="usuarioService.usuario.Usuario_Usuario" placeholder="Ingresa Usuario" required>
        </div>
        <div class="col">
          <label for="exampleInputEmail">Correo</label>
          <input type="email" class="form-control is-valid" id="correo" name="Correo_Usuario"
            [(ngModel)]="usuarioService.usuario.Correo_Usuario" placeholder="Ingresa Correo" required>
          <p></p>
          <label for="exampleInputPassword1">Password</label>
          <input type="password" class="form-control is-valid" id="clave" name="Clave_Usuario"
            [(ngModel)]="usuarioService.usuario.Clave_Usuario" placeholder="Password" required>
          <p></p>
          <label for="exampleInputPassword1">Confirmar Password</label>
          <input type="password" class="form-control is-valid" id="confclave" name="ConfirmaClave_Usuario"
            [(ngModel)]="usuarioService.usuario.ConfirmaClave_Usuario" placeholder="Confirmar Password" required>
          <br>
          <br>
          <button class="btn btn-primary" [disabled]="!formRegistro.valid">Registrar</button>
        </div>
      </div>
    </form>

  </div>
</div>